{{ ansible_managed | comment }}
{{ sockd_log_folder }}/*.log {
    daily
    compress
    delaycompress
    rotate {{ sockd_logrotate_days }}
    missingok
    nocreate
    create 0640 {{ sockd_user }} {{ sockd_group }}
    datext
    dateformat _%Y%m%d
    sharedscripts
    postrotate
      /usr/bin/systemctl reload sockd 2>/dev/null
    endscript
}
