{{ ansible_managed | comment }}
[Install]
WantedBy=multi-user.target
After=network.target

[Unit]
Description=Sockd Service

[Service]
Type=forking
User={{ sockd_user }}
Group={{ sockd_group }}
PIDFile=/var/run/sockd/sockd.pid
ExecStart=/usr/sbin/sockd -D -f {{ sockd_config }} -N {{ sockd_workers }} -p /var/run/sockd/sockd.pid
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
