{{ ansible_managed | comment }}
[Install]
WantedBy=multi-user.target
After=network-online.target

[Unit]
Description=Sockd Service

[Service]
Type=forking
PIDFile={{ sockd_pid_folder }}/sockd.pid
ExecStart=/usr/sbin/sockd -D -f {{ sockd_config }} -N {{ sockd_workers }} -p {{ sockd_pid_folder }}/sockd.pid
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
